<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/akshar"
        android:label="Saloon"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VerifyPhoneActivity"></activity>
        <activity
            android:name=".Profile.Help"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Myaccount" />
        <activity
            android:name=".Profile.MyOrder"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Myaccount" />
        <activity
            android:name=".Profile.ChangePassword"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Myaccount" />
        <activity
            android:name=".Profile.AccountInfo"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Myaccount" />
        <activity
            android:name=".Profile.MyCart"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Myaccount" />
        <activity android:name=".SplaceScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Homepage"
            android:theme="@style/AppTheme.Homepage">

        </activity>
        <activity android:name=".Register"></activity>
        <activity android:name=".Login"></activity>
        <activity android:name=".BookDescAct" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>